.pagination {
    // background-color: red !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-size: 16px;
    font-weight: 500;
    gap: 10px;
    cursor: pointer;

    .btn {
        width: 40px;
        height: 40px;
        background-color: var(--black-color);
        color: black;
        border-radius: 40px;
        // line-height: 40px;
        transition: opacity 0.25s;
              &:hover {
          opacity: 0.8;
        }
      }
      
    .btn-page {
        color: black;
        background-color: transparent;
        border: none;
        cursor: pointer;
        // border-radius: 40px;
        line-height: 40px;
        transition: all 0.25s;
      
        &.active {
          background-color: rgb(26, 115, 232);
          color: white;
        }

        &:hover {
          background-color: rgba(26, 115, 232, 0.8);
          color: white;
        }
      }
  
      
}


