.brand {
    height: 100px;
    margin-top: 16px;
    position: relative;
    transform: translate3d(0, 0, 0);
    display: flex;
    width: 100%;
    overflow: hidden;
}

.brand .brand_item {
    height: 100px;
    display: flex;
    align-items: center;
    animation: moveSlideshow 15s linear infinite;
    background-repeat: initial;
}

.brand_item>.brand_item-logo {
    width: 100px;
    margin-inline: 40px;
}

@keyframes moveSlideshow {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}